In [7]:
import numpy as np
import pandas as pd
import pymongo

In [8]:
pmcli = pymongo.MongoClient('mongodb://group4:password@cmp4818.computers.nau.edu:27018/')
LSST_db = pmcli['group4']['observations']
LSST = LSST_db.find({},{'fieldRA':1, '_id':0, 'fieldDec':1, 'observationStartMJD':1})
obs_df = pd.DataFrame(LSST)

In [9]:
obs_df

            fieldRA   fieldDec  observationStartMJD
0        200.782211 -50.116498         60796.001439
1        204.232107 -51.991147         60796.001885
2        207.940418 -53.783599         60796.002331
3        203.082640 -54.987835         60796.002778
4        207.055974 -56.848274         60796.003224
...             ...        ...                  ...
2038629    1.544173 -31.826760         64448.427416
2038630    4.791909 -33.371212         64448.427861
2038631    4.305131 -30.295004         64448.428305
2038632  358.356177 -30.239156         64448.428760
2038633    6.454043 -25.618802         64448.429225

[2038634 rows x 3 columns]

In [10]:
obs_df.to_csv('obs_df.csv', index=False)

In [ ]:
# RUN UP TO ABOVE CELL THEN STOP ########################################################################################

In [4]:
obs_RA = obs_df['fieldRA'].to_numpy()
obs_DEC = obs_df['fieldDec'].to_numpy()
obs_JD = obs_df['observationStartMJD'].to_numpy()

In [5]:
ALL_epochs = obs_JD

In [6]:
ALL_epochs

array([60796.00143923, 60796.00188503, 60796.00233094, ...,
       64448.42830528, 64448.42875966, 64448.42922492])

In [11]:
print(ALL_epochs)

[60796.00143923 60796.00188503 60796.00233094 ... 64448.42830528
 64448.42875966 64448.42922492]