In [ ]:
pip install pyoorb

In [ ]:
pip install pymongo

In [ ]:
pip install spiceypy

In [1]:
import pymongo
import numpy as np
import pandas as pd
import spiceypy
import pyoorb

In [2]:
pmcli = pymongo.MongoClient('mongodb://group4:password@cmp4818.computers.nau.edu:27018/')

In [3]:
ztf = pmcli['ztf']
db = ztf["ztf_mpc_temp"]

In [4]:
Data_Table = db.find({},{"Name":1, "Number":1, "H":1, "G":1, "Epoch":1, "M":1, "Peri":1, "Node":1, "i":1, "e":1, "a":1, "_id":0})

In [5]:
mpc_data = pd.DataFrame(Data_Table)

In [6]:
mpc_data.Number = mpc_data.Number.str.replace('(','').str.replace(')','')

In [7]:
mpc_data

,H,G,Epoch,M,Peri,Node,i,e,a,Number,Name
0,3.34,0.15,2025-05-05,188.70269,73.27343,80.25221,10.58780,0.079401,2.766051,1,Ceres
1,4.11,0.15,2025-05-05,168.79869,310.91037,172.89530,34.92402,0.230540,2.770194,2,Pallas
2,5.18,0.15,2025-05-05,172.45499,247.85972,169.82994,12.98651,0.255947,2.670670,3,Juno
3,3.25,0.15,2025-05-05,332.45069,151.58334,103.70296,7.14394,0.090107,2.361397,4,Vesta
4,6.98,0.15,2025-05-05,86.24723,359.31775,141.45353,5.35887,0.187441,2.576762,5,Astraea
...,...,...,...,...,...,...,...,...,...,...,...
1447491,20.10,0.15,2021-01-06,92.82382,312.11092,56.98092,20.87368,0.051977,1.774151,,2021 AL3
1447492,19.80,0.15,2021-01-06,84.30053,28.49179,348.07893,17.65767,0.148993,1.916583,,2021 AO3
1447493,21.90,0.15,2021-01-26,353.12519,128.19322,23.78627,9.07555,0.455636,2.586423,,2021 CX9
1447494,20.30,0.15,2021-02-15,177.55080,227.21125,95.72419,24.84879,0.047550,1.856075,,2021 CA16
1447495,20.30,0.15,2021-03-07,356.00787,347.30825,168.74816,52.54222,0.315277,2.185987,,2021 FB3

In [8]:
mpc_data['Number'][0]

'1'

In [9]:
mpc_data = mpc_data.dropna()

In [10]:
db2 = ztf['snapshot 1']

In [13]:
ssnamenr = db2.find({},{'ssnamenr':1, '_id':0})

In [14]:
ssnamenr = list(ssnamenr)
unique_ssnamenr = set()
for s in ssnamenr:
    unique_ssnamenr.add(s['ssnamenr'])
asteroids = pd.DataFrame(unique_ssnamenr)

In [15]:
asteroids

             0
0            5
1            6
2       524295
3            8
4           10
...        ...
295031  524261
295032  524268
295033  524271
295034  524275
295035  524287

[295036 rows x 1 columns]

In [16]:
LSST_db = pmcli['group4']['observations']
LSST = LSST_db.find({},{"fieldRA":1, "fieldDec":1, "observationStartMJD":1})
obs_df = pd.DataFrame(Data_Table)

In [17]:
obs_df

Empty DataFrame
Columns: []
Index: []