In [8]:
import numpy as np
from astropy.time import Time
import astropy.units as u
from sbpy.data import Orbit, Ephem
import pandas as pd
import pymongo

In [9]:
pmcli = pymongo.MongoClient('mongodb://group4:password@cmp4818.computers.nau.edu:27018/')
db = pmcli['ztf']['snapshot 1']
ssnamenr = db.find({},{'ssnamenr':1, '_id':0})
ssnamenr = list(ssnamenr)
unique_ssnamenr = set()
for s in ssnamenr:
    unique_ssnamenr.add(s['ssnamenr'])
asteroids = pd.DataFrame(unique_ssnamenr)

In [10]:
ztf_mpc_db = pmcli['ztf']['ztf_mpc_temp']
mpc_data = ztf_mpc_db.find({},{'_id':0, 'a':1, 'e':1, 'i':1, 'Peri':1, 'Node':1, 'M':1, 'H':1, 'G':1, 'Number':1})
mpc_df = pd.DataFrame(mpc_data)

In [19]:
mpc_df.Number = mpc_df.Number.str.replace('(','').str.replace(')','')
mpc_df1 = mpc_df['Number'].replace('', np.nan, inplace=True)
mpc_df = mpc_df.dropna()

In [23]:
ztf_nrs = asteroids[0].to_numpy()
mpc_nrs = mpc_df['Number'].to_numpy()
mpc_nrs = [int(x) for x in mpc_nrs]

In [26]:
mpc_df['Number'] = mpc_nrs

In [28]:
df

0              1
1              2
2              3
3              4
4              5
           ...
793061    793062
793062    793063
793063    793064
793064    793065
793065    793066
Name: Number, Length: 793066, dtype: int64